.Button {
    background-color: transparent;
    border: 1px transparent;
    border-radius: 5px;
    background-color: rgb(184, 197, 255);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 7px;
    margin: 10px;
}

.Button:hover {
    background-color: rgb(136, 158, 255);
}
