.formField {
    width: 50%;
    align-content: center;
}
Button {
    margin: 20px 10px;
}

.checkbox {
    margin-bottom: 16px;
    align-content: center;
  }

.error {
    color: red;
    font-size: 15px;
    width: 75%;
    margin: 15px auto auto auto;
}

#passwordChangeFormButtons {
    margin-top: 15px;
}
