.UserButtons {
    height: 100%;
    width: 270px;
    margin-bottom: 10px;
    position: fixed;
    z-index: 1;
    top: 56px;
    left: 0;
    background-color: #F8F8F8;
    overflow-x: hidden;
    padding-top: 20px;
}

.UserButtons .NavLink {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: left;
}
.active, .active:hover, .adminButtons *:hover {
    background-color: white;
    border-radius: 5px; 
}

@media screen and (max-height: 450px) {
    .UserButtons {padding-top: 15px;}
    .UserButtons a {font-size: 18px;}
}