body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 280px;
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", serif;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

input[type=file] {
  width: 100%;
}



